@page
@model RazorPizzeria.Pages.Forms.CustomPizzaModel
@{
}


    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>

    <div class="text-center container">
        <h1>Create your own Pizza!</h1>
        <form method="post">
            <input type ="text" asp-for="Pizza.PizzaName" placeholder="Give your pizza a name.."/>
            <button class="btn btn-primary mt-1" type="submit">Order My Pizza</button>
        </form>
    </div>